*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html, body {
  background: #eee;
  height: 100dvh;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 94dvw;
}

.navbar-left-container {
  margin: 10px 0px;
}

.navbar-left-container svg {
  font-size: 2.3rem;
}

.navbar-left-container a:link, 
.navbar-left-container a:visited, 
.navbar-left-container a:hover, 
.navbar-left-container a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-right-container {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu:hover {
  color: #1976D2;
}

ul button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 10px 0px;
}

ul button:hover {
  color: #1976D2;
}

.menu svg {
  font-size: 2rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  overflow-x: hidden; 
}

.overlay-content {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  font-size: 2.1rem;
  color: #fff;
  width: 100dvw; 
  text-align: center; 
}

.overlay-content li {
  padding: 10px 0px;
}

.close-icon svg {
  font-size: 3.2rem;
  margin: -15px 0px;
}

.close-icon svg:hover {
  color: #1976D2;
}

.hide-search-icon {
  display: none;
}

.hide-menu {
  display: none;
}

.overlay-content a:link, 
.overlay-content a:visited, 
.overlay-content a:hover, 
.overlay-content a:active {
  text-decoration: none;
}

.overlay-content a:visited {
  color: inherit;
}

.overlay-content a:hover {
  color: #1976D2;
}

.main-content {
  display: flex;
  justify-content: center;
}

.search-form {
  text-align: center;
  margin-top: 160px;
}

.move-search-form {
  margin-top: 10px;
  transition: margin-top 0.9s;
}

.search-results {
  opacity: 0;
  margin-top: 30px;
}

.show-search-results {
  opacity: 1;
  transition: opacity 0.9s;
}

.container {
  width: 100dvw;
  margin-top: 20px;
}

.container h1 {
  padding: 10px 0px;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

.search-bar {
  width: 94dvw;
}

.search-bar-btns {
  margin-top: 10px;
}

.search-bar-btns button{
  margin: 0px 10px;
  font-size: 0.7rem;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 12px;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex: 50%;
  margin-bottom: 30px;
}

.category-card h2 {
  font-size: 1.3rem;
}

.category-card:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,1);
}

.category-icon svg {
  font-size: 2.5rem;
}

.card {
  display: flex;
  margin: 10px 12px;
}

.media-content {
  flex: 4 1 410px;
  margin-right: 10px;
}

.resource-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
}

.card a:link, 
.card a:visited {
  color: #4D5156;
  text-decoration: none;
}

.website-link {
  font-size: 0.85rem;
}

.card h2 {
  font-size: 1.25rem;
}

.card h2 a:link, 
.card h2 a:visited {
  color: #1A0DAB;
  text-decoration: none;
}

.card h2 a:hover {
  text-decoration: underline;
}

.card p {
  color: #4D5156;
  padding-top: 5px;
  line-height: 1.2rem;
  font-size: 0.85rem;
}

.loadingSection {
  font-size: 0.8rem;
  margin: 10px 12px;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    width: 95dvw;
  }

  .navbar-left-container svg {
    font-size: 3rem;
  }

  .menu {
    display: none;
  }

  .navbar-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    font-size: 1.06rem;
    width: 330px;
  }

  .navbar-right-container a:link, 
  .navbar-right-container a:visited, 
  .navbar-right-container a:hover, 
  .navbar-right-container a:active {
    text-decoration: none;
  }

  .navbar-right-container a:visited {
    color: inherit;
  }

  .navbar-right-container a:hover {
    color: #1976D2;
  }

  .close-icon {
    display: none;
  }

  .container {
    width: 80dvw;
    margin-top: 20px;
  }

  .container h1 {
    font-size: 2.9rem;
  }

  .search-bar {
    width: 500px;
  }

  .search-bar-btns button{
    font-size: 0.8rem;
  }

  .website-link {
    font-size: 0.9rem;
  }

  .card h2 {
    font-size: 1.3rem;
  }

  .card h2 a:link, 
  .card h2 a:visited {
    color: #1A0DAB;
    text-decoration: none;
  }

  .card p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 60dvw;
  } 
}

@media screen and (min-width: 1200px) {
  .container {
    width: 50dvw;
  } 
} 